html {scroll-behavior: smooth;}
#map {width:100%;height:100vh;}
body {margin:0;padding:0;font-family: 'Roboto Condensed', sans-serif;}
h4, h5, table, p {font-family: 'Roboto Condensed', sans-serif !important;}
p {font-size: 15px;}

.loader {
  width:100%;
  height:100%;
  background-color: #fff;
  padding-top:30px;
  position: absolute;
  top:0;
  left:0;
  z-index: 1500;
}
.loadtext {
  color: #555;
  text-align: center;
}

#sidebar {
  height: 100vh;
  overflow: scroll;
}
#tot_conf {
  background-color: #000;
  color:white;
  font-weight: bold;
}

#legend {
  position: absolute;
  bottom: 20px;
  left:20px;
  z-index: 1000;
}
/*#legend .key-item {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #aaa;
}*/
#legend .key-item {
  padding: 3px 9px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #fff;
}
#legend p {
  font-size: 14px;
  text-align: center;
}

table {
  margin:20px 0;
  max-width:100%;
  padding:5px;
  font-size:14px;
}
table th, table td {
  border:1px solid #ddd;
  padding:6px;
  text-align: right;
}

.title{
  margin:20px 0;
}
.btn-group {
  margin: 20px 0;
}
#top-btn{
  position: absolute;
  bottom:25px;
  right:20px;
  background-color: #111;
  width:30px;
  height:30px;
  border-radius: 4px;
  color:#fff;
  padding: 2px;
  z-index: 1000;
  text-align: center;
  font-size: 22px;
}
.leaflet-popup-content-wrapper {
  border-radius:1px !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.7) !important;;
}
.leaflet-container a.leaflet-popup-close-button {
	top: 4px !important;;
	right: 4px !important;;
	font-size: 18px !important;;
	color: #999 !important;;
}
